body {
    background-color: #0654ee;
}

* {
    padding: 0;
    margin: 0 auto;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    width: 4.5rem;
    height: 100%;
    background-color: white;
    float: left;
    margin-top: -18px;
    box-shadow: 4px 4px 4px rgba(119, 119, 119, 0.178);
}

nav ul {
    display: inline-block;
}

nav li {
    padding: 5px;
}

#capa {
    width: 100%;
    height: 315px;
    background-color: aqua;
}



input {
    width: 100%;
    height: 40px;
    margin: 2%;
    border: none;
    border-bottom: 2px #BEC1C3 solid;
    outline: none;
    padding-left: 1%;
    transition: 0.5s;
}

input:focus {
    border-bottom: 2px greenyellow solid;
}

 #enviar{
    background-color: greenyellow;
    cursor: pointer;
    color: white;
    border-bottom: none;
}

.enviar{
    background-color: greenyellow;
    cursor: pointer;
    color: white;
    border-bottom: none;
}

#card {
    width: 30%;
    margin-top: -12%;
    border-radius: 5px;
    display: inline-block;
    padding: 3%;
    background-color: rgb(202, 59, 59);
    box-shadow: 4px 4px 4px rgba(119, 119, 119, 0.178);
    margin-top: 1%;
}
#carda {
    width: 30%;
    margin-top: -12%;
    border-radius: 5px;
    display: inline-block;
    padding: 3%;
    background-color: rgb(214, 18, 18);
    box-shadow: 4px 4px 4px rgba(119, 119, 119, 0.178);
    margin-top: 1%;
    display: none;
}
#cardb {
    width: 30%;
    margin-top: -12%;
    border-radius: 5px;
    display: inline-block;
    padding: 3%;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(119, 119, 119, 0.178);
    margin-top: 1%;
    display: none;
}
#cardc {
    width: 30%;
    margin-top: -12%;
    border-radius: 5px;
    display: inline-block;
    padding: 3%;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(119, 119, 119, 0.178);
    margin-top: 1%;
    display: none;
}

form {
    width: 50%;
    margin-left: 5.5rem;
    margin-top: 0.5rem;
}

.teste {
    height: 50px;
    width: 25%;
    background-color: white;
    margin-right: 18%;
    margin-bottom: 1%;
}

.teste li {
    list-style: none;
    display: inline-block;
    padding-left: 15%;
}
#dispositivos{
    size: 10%;
}

.f {
    padding: 5px;
    color: rgb(123, 148, 86);
    font-size: 30px;
    cursor: pointer;
}
.teste{
    position: absolute;
    left: 100%;
}

